<h1>About the Recipeople</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top profile center-block" src="https://avatars0.githubusercontent.com/u/17575831?v=3&s=460" alt="Melissa Photo">
      <div class="card-block">
        <h4 class="card-title">Melissa Carlson</h4>
        <p class="card-text lead">For this project, Melissa primarily worked on the recipe search algorithm and the interface to choose ingredients. She enjoys front-end and back-end work equally. <br />This project was extra exciting for her because she had never used Javascript within a Rails app before and her favorite thing about coding is learning how to make different technologies play nicely with one another. </p>
        <hr/>
        Find her <a href="https://github.com/melicarls">on GitHub</a>
        or send <a href="mailto:melissacarlson15@gmail.com">an email</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top profile center-block" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13254572_10102795482402807_2106022598925704852_n.jpg?oh=5ac05b03391a0e3d2b18093b2385a961&oe=57D57983" alt="Lotus Photo">
      <div class="card-block">
        <h4 class="card-title">Lotus Quach</h4>
        <p class="card-text lead">For this project, Lotus primarly worked on fighting with Devise, integrating Uploadcare and writing Rspec tests. She enjoys testing and eating korean fried chicken. <br />  </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top profile center-block" src="https://c6.staticflickr.com/1/600/20600036125_1768a89aaa_n.jpg" alt="Franklin Photo">
      <div class="card-block">
        <h4 class="card-title">Franklin Zuniga</h4>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12" id="appeal">
  <p>
    PS: <strong>The Recipeople are available for hire!</strong><br />
    Melissa, Lotus, and Franklin just completed General Assembly's Web Development Immersive Course. They are actively seeking their first full-time development positions and hope that you will reach out to them using the contact links above. Happy cooking!
  </p>
</div>
