<h1>About the Recipeople</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://c6.staticflickr.com/1/600/20600036125_1768a89aaa_n.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Melissa Carlson</h4>
        <p class="card-text lead">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://c6.staticflickr.com/1/600/20600036125_1768a89aaa_n.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Lotus Quach</h4>
        <p class="card-text lead">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://c6.staticflickr.com/1/600/20600036125_1768a89aaa_n.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Franklin Zuniga</h4>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>
