<h1>About the Recipeople</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">

    <div class="card">
      <img class="card-img-top profile center-block" src="https://avatars0.githubusercontent.com/u/17575831?v=3&s=460" alt="Melissa Photo">
      <div class="card-block">
        <h4 class="card-title">Melissa Carlson</h4>
        <p class="card-text lead">For this project, Melissa primarily worked on the recipe search algorithm and the interface to choose ingredients. She enjoys front-end and back-end work equally. </br>This project was extra exciting for her because she had never used Javascript within a Rails app before and her favorite thing about coding is learning how to make different technologies play nicely with one another. </p>
        <hr/>
        <span class="pull-left">Find her work: </br> <a href="https://github.com/melicarls" target="_blank"> <i class="fa fa-github fa-3x" aria-hidden="true"></i></a></span>
        <span class="pull-right">or contact her by: </br> <a href="mailto:melissacarlson15@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></span>
      </br>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top profile center-block" src="https://c6.staticflickr.com/1/600/20600036125_1768a89aaa_n.jpg" alt="Lotus Photo">
      <div class="card-block">
        <h4 class="card-title">Lotus Quach</h4>
        <p class="card-text lead">This card has supporting text below as a natural lead-in to additional content.</p>
        <hr/>
        <span class="pull-left">Find her work: </br> <a href="https://github.com/melicarls" target="_blank"> <i class="fa fa-github fa-3x" aria-hidden="true"></i></a></span>
        <span class="pull-right">or contact her by: </br> <a href="mailto:melissacarlson15@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></span>
      </br>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top profile center-block" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/000/259/1e9/0814742.jpg" alt="Franklin Photo">
      <div class="card-block">
        <h4 class="card-title">Franklin Zuniga</h4>
        <p class="card-text lead">For Pantry Hero, Franklin was mostly focused on designing and styling the app as he enjoys working more in the front-end. However, he did also do some work in the database by helping to seed data, join tables and add columns to a table. </br></br> The most exciting part for Franklin was learning the new Bootstrap 4 components and applying it to our site features! </p>
        <hr/>
        <span class="pull-left">Find his work: </br> <a href="https://github.com/Franklinz23" target="_blank"> <i class="fa fa-github fa-3x" aria-hidden="true"></i></a></span>
        <span class="pull-right">or contact him by: </br> <a href="mailto:franklin.zuniga23@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></span>
      </br>
      </div>
    </div>

  </div>
</div>

<div class="col-xs-12" id="appeal">
  <p>
    PS: <strong>The Recipeople are available for hire!</strong><br />
    Melissa, Lotus, and Franklin just completed General Assembly's Web Development Immersive Course. They are actively seeking their first full-time development positions and hope that you will reach out to them using the contact links above. Happy cooking!
  </p>
</div>
